@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Raleway:100);

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: none;
    outline: none
}

.container {
    width: 100%;
    background: -webkit-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #4CB8C4 10%, #3CD3AD 90%); /* W3C */
}

.section {
    padding: 20px 10px;
    color: #34495E;
    background-color: #ECF0F1;
}

.content {
    max-width: 680px;
    margin: 0 auto
}

.content h3 {
    font-weight: 300;
    font-size: 2em;
}

a {
    color: inherit
}

pre {
    background: rgba(44, 62, 80, .1);
    padding: 4px;
    overflow: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

iframe {
    vertical-align: middle;
}

.title-wrapper {
    background: none;
    color: #ECF0F1;
}

.title-wrapper h1, .title-wrapper h4 {
    float: none;
    text-align: center;
    display: block;
    font-weight: 400;
    font-size: 1.2em;
}

.title-wrapper h1 {
    font-size: 7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 80px 0;
}
@media (max-width: 500px) {
    .title-wrapper h1 {
        font-size: 5em;
    }
}

.title-wrapper .github-buttons {
    text-align: center
}

.demo-wrapper {
    text-align: center;
    background: none;
    color: #ECF0F1;
}

.demo-wrapper .time-input {
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    max-width: 200px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: inherit;
    outline: none;
    -moz-transition: all 700ms;
    -o-transition: all 700ms;
    -webkit-transition: all 700ms;
    transition: all 700ms
}

.demo-wrapper .time-input:focus {
    background: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(255, 255, 255, 0.7)
}

.demo-wrapper .buttons .button {
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px 10px;
    fill: #ECF0F1;
    font-size: 2.5em;
    -moz-transition: fill 400ms;
    -o-transition: fill 400ms;
    -webkit-transition: fill 400ms;
    transition: fill 400ms
}

.demo-wrapper .buttons .button:hover {
    fill: #46627f;
}

.demo-wrapper .timer {
    font-size: 8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
.contact-info {
    background: none;
}
